# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
*.jar
*.war

# Docker
*.log

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Kubernetes secrets
k8s/03-secrets/*.yaml

# Backups
backup_*/